[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-tlib"]
	path = vim/bundle/vim-tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-add-on-mw-utils"]
	path = vim/bundle/vim-add-on-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/vim-stylus"]
	path = vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-tabular"]
	path = vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-arduino"]
	path = vim/bundle/vim-arduino
	url = https://github.com/tclem/vim-arduino.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/tslime"]
	path = vim/bundle/tslime
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-emblem"]
	path = vim/bundle/vim-emblem
	url = https://github.com/heartsentwined/vim-emblem
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vim/bundle/vim-tComment"]
	path = vim/bundle/vim-tComment
	url = https://github.com/tomtom/tcomment_vim.git
